.pagination-container {
  margin: 70px auto;
  max-width: 600px;
  /* font-size: 14px; */
}
.pagination-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.pagination-container li {
  list-style: none;
}
.paginationBtns a {
  background-color: aqua;
  padding: 10px 15px;
  /* margin: 8px; */
  background-color: transparent;
  border: 1px solid rgb(7, 121, 121);
  border-radius: 600px;
  cursor: pointer;
}
.paginationBtns a:hover {
  background-color: rgb(7, 121, 121);
}
.paginationActive a {
  color: white;
  background-color: rgb(7, 121, 121);
}

@media screen and (max-width: 400px) {
  .pagination-container {
    font-size: 12px;
  }
  .pagination-container ul {
    gap: 10px;
  }
  .pagination-container li {
    margin-top: 20px;
  }
}
